*{
    box-sizing: border-box;
}

body{
    background-color: rgb(213, 207, 182);
    font-family:'Dancing Script', cursive;
}

.contenedor{
    width: 90%;
    padding: 20px;
    background-color: salmon;
}

.contenedor2{
    width: 50%;
    padding: 20px;
    background-color: lightgreen;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    font-size: 25px;
}

p{
    font-size: 17px;
    line-height: 25px;
}

.parrafo-destacado{
    color: goldenrod;
    font-size: 25px;
    line-height: 38px;
}

strong{
    color: green;
}

p strong{
    background-color: lightgoldenrodyellow;
    color: black;
    font-style: italic;
}

@media (min-width: 576px){
    .contenedor,
    .contenedor2 {
        width: 70%;
        margin: auto;
    }
}

@media (min-width: 768px){
    .contenedor{
        background-color: black;
        color: aliceblue;
    }
    .contenedor2 {
        background-color: greenyellow;
        color: blue;
    }
}

@media (min-width: 992px){
    .contenedor,
    .contenedor2{
        border: solid 10px gray;
    }
}

@media (min-width: 1200px){
    .contenedor,
    .contenedor2{
        max-width: 1000px;
    }
}