<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1> El titulo de nuestro documento </h1>
    <h2> Un subtitulo cualquiera </h2>

    <div class="contenedor">
        <h2>soy el uno</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem praesentium voluptatem maxime at accusantium sed natus? Ea facere possimus magnam hic! Sapiente expedita cupiditate rem earum maxime praesentium totam sequi!</p>
    </div>

    <div class="contenedor2">
        <h2>soy el dos</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem praesentium voluptatem maxime at accusantium sed natus? Ea facere possimus magnam hic! Sapiente expedita cupiditate rem earum maxime praesentium totam sequi!</p>
    </div>


    

<!--
    <article class="contenedor">
        <p class="oculto"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde accusamus saepe est, quam consequuntur architecto laudantium totam nemo. Recusandae voluptatum culpa repudiandae quod eveniet explicabo, hic repellat? Saepe, voluptatibus molestias?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi alias similique odio? Deserunt sapiente similique veniam libero quia dolor asperiores, eius, recusandae itaque, animi qui vel esse quis optio doloribus?
        </p>
        <h2>Algo de relleno</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos mollitia facere eum animi consectetur aperiam a blanditiis numquam. Consequuntur impedit eius, laboriosam explicabo beatae fugit? Ad eum nemo nobis accusamus.</p>
    </article>


    <img src="/images/yoda.jpeg" alt="Yoda viéndote fijamente">
    <strong>Esto es un texto en negrilla</strong>

    <h4> Un h4 cualquiera</h4>
    <p class="parrafo-destacado"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis veritatis sapiente inventore magni, atque repellendus, et in ducimus dolorum vero sint alias debitis expedita similique! Quisquam rem autem nulla quo! </p>

    <p> <strong>Esto es un texto en negrilla</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis veritatis sapiente inventore magni, atque repellendus, et in ducimus dolorum vero sint alias debitis expedita similique! Quisquam rem autem nulla quo! </p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
-->
    <a href="https://www.google.com">Enlace a google</a>
</body>
</html>